.clientsProposal {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 4px 16px;
	border-radius: 100px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 500;
	background-color: rgba(1, 202, 176, 0.2);
	color: #01cab0;
}
