* {
  font-family: 'Inter', sans-serif !important;
}

.yc-button_view_normal {
  --g-color-text-primary: #FFFFFF;
  --yc-button-background-color: #343338;
  --yc-button-background-color-hover: #222222;
}

.yc-button_size_l {
  --yc-button-border-radius: 4px;
}

.yc-button_size_m {
  --yc-button-border-radius: 4px;
}
