a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}
.content-text {
  padding-left: 10px;
  font-size: 16px !important;
  line-height: 20px;
  color: #0f001a !important;
}
