.g-root_theme_light {
  --g-color-base-brand: #F9AB00;
  --g-color-base-brand-hover: #d2741d;
  --g-color-base-selection: #4a3a2c;
  --g-color-base-selection-hover: #604225;
  --g-color-line-brand: #d78538;
  --g-color-text-brand: #e2a56c;
  --g-color-text-link: #e2a56c;
  --g-color-text-link-hover: #ecc39e;
}
