.custom-title {
	font-size: 64px;
	font-weight: 700;
	max-width: 800px;
	line-height: 64px;
	text-align: start;
	color: var(--primary);
}

@media (max-width: 768px) {
	.custom-title {		
		text-align: center;
		font-size: 32px;
		line-height: 40px;
	}
}
