@import "./input-text.responsive.module.scss";
.Input {
  padding-inline: 0.6em;
  border-radius: 4px;
  max-width: 424px;
  height: 100%;
  color: black;
  border: 1px solid rgb(184 184 184);
  display: block !important;
}

.InputWrapper {
  height: fit-content;
  position: relative;
  line-height: 14px;
  margin: 0 10px;
  display: block;
  min-width: 200px;
  max-width: 424px;
  height: 3.5rem;
  background-color: #fff;
}

.InputText {
  position: absolute;
  top: 0;
  left: 0;
  width: 407px;
  height: 100%;
  outline: none;
  background: none;
  cursor: pointer;
  display: block !important;
}

.InputText:focus {
  border: 2px solid #b4bec8;
}

.InputText:focus ~ .InputLabel,
.InputText:not(:placeholder-shown) ~ .InputLabel,
.InputText:not(:placeholder-shown):focus ~ .InputLabel {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.6rem;
  color: rgb(92, 92, 92);
}
.InputText:not(:focus):not(:placeholder-shown) ~ .InputLabel {
  color: rgb(184 184 184);
  background-color: rgb(255, 255, 255);
}
.InputLabel {
  position: absolute;
  left: 0.4rem;
  top: 1.4rem;
  padding: 0 0.5rem;
  color: #a4a7aa;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  background-color: #fff;
}

.RequiredMessage {
  color: red;
  margin: 10px auto -10px auto !important;
  font-weight: 400;
  padding: 0 10px;
}
