.list-utility {
	gap: 10px;
	flex: wrap;
	display: flex;
	list-style: none;
	align-items: center;

	&-item {
		min-width: 154px;
		padding: 10px 20px 10px 10px;
		margin-right: 15px;
		margin-bottom: 15px;
		border-radius: 8px;
		background-color: var(--background);
	}
	&-title {
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		color: #000;
	}
	&-image {
		width: 56px;
		height: 56px;
		margin-bottom: 12px;
	}
}

.darker {
	background-color: var(--bg-secondary);
}
